? my $args = $_[0]; my $channel = $args->{channel};
<html>
<head>
<title>Tatsumaki Chat demo</title>
<script src="/static/jquery-1.3.2.min.js"></script>
<script src="/static/jquery.ev.js"></script>
<script src="/static/jquery.md5.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script>
var cookieName = 'tatsumaki_chat_email';
function doPost(eml, el) {
  var email = eml.attr('value');
  if (email) $.cookie(cookieName, email, { path: '/chat' });
  var text = el.attr('value');
  if (!text) return false;
  $.ajax({
    url: "/chat/<?= $channel ?>/post",
    data: { email: email, text: text },
    type: 'post',
    dataType: 'json',
    success: function(r) { }
  });
  el.attr('value', '');
  return false;
}

$(function(){
  $.ev.handlers.message = function(e) {
    try {
      var avatar = e.avatar || ("http://www.gravatar.com/avatar/" + $.md5(e.email || 'foo'));
      var name   = e.name   || e.email || 'Anonymous';
      var img = $('<img/>').attr('src', avatar).attr('alt', name).addClass('avatar');
      $('#messages').prepend(
        $('<li class="message"/>').text(e.text).prepend(img)
          .append($('<span/>').addClass('meta').text(' (' + e.time + ' from ' + e.address + ')'))
      );
    } catch(e) { console.log(e) };
  }
  $.ev.loop('/chat/<?= $channel ?>/poll?' + Math.random());
  if ($.cookie(cookieName))
    $('#email').attr('value', $.cookie(cookieName));
  $.ajax({
    url: '/chat/<?= $channel ?>/backlog?' + Math.random(),
    method: 'get',
    dataType: 'json',
    success: function(r) {
      $.each(r, function(i, e) {
        $.ev.handlers.message(e);
      });
    }
  });
});
</script>
<style>
h1 { font-size: 1.5em }
ul#messages {
  list-style-type: none;
  padding-left: 1em;
}
img.avatar {
  width: 25px; height: 25px;
  vertical-align: middle;
  margin-right: 0.5em;
}
.message {
  margin-top: 0.5em;
}
.meta {
  color: #888;
  font-size: 0.8em;
}
</style>
</head>
<body>
<h1 class="chat-room-name">Chat room: <?= $channel ?></h1>
<!-- move this input out of form so Firefox can submit with enter key :/ -->
Your email (for Gravatar): <input id="email" type="text" name="email" size="24"/>
<form onsubmit="return doPost($('#email'), $('#chat'))">
Something to say: <input id="chat" type="text" size="32"/>
</form>

<ul id="messages">
</ul>

</body>
</html>